<h2>Menu hospitales</h2>

<ul>
    <li>
        <a asp-controller="Hospitales" asp-action="Cliente">Api Hospitales cliente</a>
    </li>
    <li>
        <a asp-controller="Hospitales" asp-action="Servidor">Api Hospitales servidor</a>
    </li>
</ul>